In [5]:
from lussi.survey import * 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)    
raw_stack = load_stack(stack_type=StackType.RAW)
wide_stack = load_stack(stack_type=StackType.WIDE)

In [6]:
raw_stack.head(40)

,Year,OrgSize,Country,Employment,Gender,EdLevel,US_State,Age,DevType,Sexuality,Ethnicity,DatabaseWorkedWith,LanguageWorkedWith,PlatformWorkedWith,YearsCodePro,AnnualSalary,YearsCodeProAvg,OrgSizeAvg,AgeAvg
0,2017,NaN,United States,"Not employed, and not looking for work",Male,Secondary school,NaN,NaN,NaN,NaN,White or of European descent,NaN,Swift,iOS,2 to 3 years,NaN,2.5,NaN,NaN
1,2017,20 to 99 employees,United Kingdom,Employed part-time,Male,Some college/university study without earning ...,NaN,NaN,NaN,NaN,White or of European descent,MySQL; SQLite,JavaScript; Python; Ruby; SQL,Amazon Web Services (AWS),9 to 10 years,NaN,9.5,59.50,NaN
2,2017,"10,000 or more employees",United Kingdom,Employed full-time,Male,Bachelor's degree,NaN,NaN,Other,NaN,White or of European descent,MySQL,Java; PHP; Python,NaN,20 or more years,113750.000000,20.0,5.00,NaN
3,2017,"10,000 or more employees",United States,Employed full-time,Male,Doctoral degree,NaN,NaN,NaN,NaN,White or of European descent,MongoDB; Redis; SQL Server; MySQL; SQLite,Matlab; Python; R; SQL,Windows Desktop; Linux Desktop; Mac OS; Amazon...,14 to 15 years,NaN,14.5,5.00,NaN
4,2017,10 to 19 employees,Switzerland,Employed full-time,NaN,Master's degree,NaN,NaN,Mobile developer; Graphics programming; Deskto...,NaN,NaN,NaN,NaN,NaN,20 or more years,NaN,20.0,14.50,NaN
5,2017,NaN,New Zealand,"Not employed, and not looking for work",NaN,Secondary school,NaN,NaN,NaN,NaN,White or of European descent,MySQL,JavaScript; PHP; Rust,Linux Desktop; Amazon Web Services (AWS),6 to 7 years,NaN,6.5,NaN,NaN
6,2017,20 to 99 employees,United States,Employed full-time,Male,Master's degree,NaN,NaN,NaN,NaN,White or of European descent,SQLite,Matlab; Python,Windows Desktop,9 to 10 years,NaN,9.5,59.50,NaN
7,2017,Fewer than 10 employees,Poland,Employed full-time,Male,Master's degree,NaN,NaN,Web developer,NaN,White or of European descent,Redis; MySQL; PostgreSQL,CoffeeScript; Clojure; Elixir; Erlang; Haskell...,Amazon Web Services (AWS),10 to 11 years,NaN,10.5,10.00,NaN
8,2017,"5,000 to 9,999 employees",Colombia,Employed full-time,Male,Bachelor's degree,NaN,NaN,Web developer; Mobile developer,NaN,Hispanic or Latino/Latina,SQL Server,C#; JavaScript,Android; Microsoft Azure,13 to 14 years,NaN,13.5,253.25,NaN
9,2017,NaN,France,"Independent contractor, freelancer, or self-em...",Male,Master's degree,NaN,NaN,Mobile developer; Desktop applications developer,NaN,White or of European descent,PostgreSQL,Objective-C; Swift,iOS; Amazon Web Services (AWS),13 to 14 years,NaN,13.5,NaN,NaN
10,2017,100 to 499 employees,United States,Employed full-time,Female,Bachelor's degree,NaN,NaN,NaN,NaN,White or of European descent,SQL Server,R; SQL,NaN,12 to 13 years,NaN,12.5,299.50,NaN
11,2017,100 to 499 employees,Canada,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,13 to 14 years,NaN,13.5,299.50,NaN
12,2017,NaN,United Kingdom,"Not employed, but looking for work",Male,Bachelor's degree,NaN,NaN,NaN,NaN,White or of European descent,NaN,C; C++; Java,NaN,20 or more years,NaN,20.0,NaN,NaN
13,2017,Fewer than 10 employees,Germany,Employed full-time,Female,Some college/university study without earning ...,NaN,NaN,Web developer,NaN,Hispanic or Latino/Latina,Redis; MySQL; PostgreSQL,Java; JavaScript; Ruby; SQL,Amazon Web Services (AWS),15 to 16 years,NaN,15.5,10.00,NaN
14,2017,"5,000 to 9,999 employees",United Kingdom,Employed full-time,Male,Professional degree,NaN,NaN,Embedded applications/devices developer,NaN,White or of European descent,NaN,Assembly; C; C++,Mac OS,20 or more years,100000.000000,20.0,253.25,NaN
15,2017,NaN,United States,"Independent contractor, freelancer, or self-em...",Male,Primary/elementary school,NaN,NaN,Desktop applications developer,NaN,White or of European descent,NaN,JavaScript; VB.NET,Windows Desktop,11 to 12 years,NaN,11.5,NaN,NaN
16,2017,NaN,United Kingdom,"Not employed, and not looking for work",Male,Secondary school,NaN,NaN,Web developer,NaN,White or of European descent,NaN,JavaScript,Amazon Web Services (AWS),8 to 9 years,NaN,8.5,NaN,NaN
17,2017,"1,000 to 4,999 employees",United States,Employed full-time,Male,Bachelor's degree,NaN,NaN,Web developer; Embedded applications/devices d...,NaN,"Native American, Pacific Islander, or Indigeno...",MySQL; PostgreSQL; Oracle,C; Clojure; JavaScript; Matlab; Rust; SQL; Swift,Linux Desktop; Amazon Web Services (AWS),20 or more years,130000.000000,20.0,251.00,NaN
18,2017,"10,000 or more employees",United States,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,2 to 3 years,82500.000000,2.5,5.00,NaN
19,2017,Fewer than 10 employees,Greece,Employed full-time,Male,Doctoral degree,NaN,NaN,Data scientist; Other,NaN,I prefer not to say,MySQL,Perl; Python,NaN,12 to 13 years,NaN,12.5,10.00,NaN
20,2017,"10,000 or more employees",Brazil,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,5.00,NaN
21,2017,20 to 99 employees,United Kingdom,Employed full-time,Male,Bachelor's degree,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,White or of European descent,SQL Server,C#; JavaScript; SQL,Windows Phone; Windows Desktop; Raspberry Pi; ...,20 or more years,NaN,20.0,59.50,NaN
22,2017,500 to 999 employees,Israel,Employed full-time,Male,Bachelor's degree,NaN,NaN,Other,NaN,White or of European descent,Cassandra; MySQL,Java,NaN,10 to 11 years,100764.000000,10.5,749.50,NaN
23,2017,NaN,Italy,"Independent contractor, freelancer, or self-em...",Male,Secondary school,NaN,NaN,Web developer,NaN,White or of European descent,MySQL,PHP; SQL,Windows Desktop; WordPress,9 to 10 years,NaN,9.5,NaN,NaN
24,2017,20 to 99 employees,Belgium,Employed full-time,NaN,Master's degree,NaN,NaN,Web developer; Other,NaN,NaN,NaN,NaN,NaN,18 to 19 years,NaN,18.5,59.50,NaN
25,2017,"10,000 or more employees",United States,Employed full-time,Male,Master's degree,NaN,NaN,Web developer,NaN,White or of European descent,MySQL,Java; Scala,NaN,20 or more years,175000.000000,20.0,5.00,NaN
26,2017,"5,000 to 9,999 employees",India,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer; Mobile developer,NaN,NaN,MongoDB; MySQL,Java; JavaScript; Objective-C; Python; Swift,NaN,13 to 14 years,NaN,13.5,253.25,NaN
27,2017,100 to 499 employees,United States,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer; Desktop applications developer,NaN,NaN,NaN,NaN,NaN,2 to 3 years,NaN,2.5,299.50,NaN
28,2017,10 to 19 employees,Israel,Employed full-time,Male,Some college/university study without earning ...,NaN,NaN,NaN,NaN,White or of European descent,NaN,JavaScript; Python,Mac OS; Arduino; Serverless; Amazon Web Servic...,20 or more years,NaN,20.0,14.50,NaN
29,2017,"10,000 or more employees",United States,Employed full-time,NaN,Bachelor's degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,5.00,NaN
30,2017,20 to 99 employees,Israel,Employed full-time,NaN,Bachelor's degree,NaN,NaN,Web developer; Desktop applications developer,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,59.50,NaN
31,2017,Fewer than 10 employees,Chile,Employed full-time,NaN,Some college/university study without earning ...,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,NaN,NaN,NaN,NaN,6 to 7 years,NaN,6.5,10.00,NaN
32,2017,NaN,Germany,"Independent contractor, freelancer, or self-em...",Male,Professional degree,NaN,NaN,NaN,NaN,White or of European descent,NaN,C#; Java,Windows Desktop; Linux Desktop,6 to 7 years,NaN,6.5,NaN,NaN
33,2017,NaN,Brazil,"Independent contractor, freelancer, or self-em...",Male,Some college/university study without earning ...,NaN,NaN,Web developer,NaN,White or of European descent,MongoDB,JavaScript,NaN,7 to 8 years,NaN,7.5,NaN,NaN
34,2017,10 to 19 employees,Croatia,Employed full-time,Male,Bachelor's degree,NaN,NaN,Embedded applications/devices developer,NaN,White or of European descent,MySQL,Assembly; C,NaN,7 to 8 years,14838.709677,7.5,14.50,NaN
35,2017,Fewer than 10 employees,Italy,Employed full-time,Male,Master's degree,NaN,NaN,Machine learning specialist; Developer with a ...,NaN,White or of European descent,Cassandra; MongoDB; Redis; SQL Server; PostgreSQL,C#; JavaScript; Matlab; Python; R,Raspberry Pi; SharePoint; WordPress; Amazon We...,9 to 10 years,NaN,9.5,10.00,NaN
36,2017,500 to 999 employees,Argentina,Employed full-time,Male,Some college/university study without earning ...,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,Hispanic or Latino/Latina,SQL Server,C#; F#; JavaScript; SQL,Windows Desktop; Microsoft Azure,20 or more years,28200.000000,20.0,749.50,NaN
37,2017,100 to 499 employees,Germany,Employed full-time,Male,Some college/university study without earning ...,NaN,NaN,Web developer,NaN,White or of European descent,SQL Server; SQLite,C#; Java; JavaScript,Android,20 or more years,118279.569892,20.0,299.50,NaN
38,2017,NaN,Netherlands,"Independent contractor, freelancer, or self-em...",Male,Bachelor's degree,NaN,NaN,Web developer; Database administrator,NaN,White or of European descent,SQL Server; SQLite,C#; JavaScript; SQL; TypeScript,Windows Desktop; Microsoft Azure,20 or more years,NaN,20.0,NaN,NaN
39,2017,I don't know,United States,Employed full-time,NaN,Some college/university study without earning ...,NaN,NaN,Desktop applications developer,NaN,NaN,NaN,NaN,NaN,20 or more years,NaN,20.0,NaN,NaN

In [10]:
wide_stack.head(40)

,Year,OrgSize,Country,Employment,Gender,EdLevel,US_State,Age,DevType,Sexuality,Ethnicity,DatabaseWorkedWith,LanguageWorkedWith,PlatformWorkedWith,YearsCodePro,AnnualSalary,YearsCodeProAvg,OrgSizeAvg,AgeAvg,python,sql,java,javascript,ruby,php,c,swift,scala,r,rust,julia,mysql,microsoftsqlserver,mongodb,postgresql,oracle,ibmdb2,redis,sqlite,mariadb,microsoftazure,googlecloud,ibmcloudorwatson,kubernetes,linux,windows,sexuality_grouped,ethnicity_grouped,aws
0,2017,NaN,United States,"Not employed, and not looking for work",Male,Secondary,NaN,NaN,NaN,NaN,White or of European descent,NaN,Swift,iOS,2 to 3 years,NaN,2.5,NaN,NaN,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
1,2017,20 to 99 employees,United Kingdom,Part-Time,Male,Bachelors,NaN,NaN,NaN,NaN,White or of European descent,MySQL; SQLite,JavaScript; Python; Ruby; SQL,Amazon Web Services (AWS),9 to 10 years,NaN,9.5,59.50,NaN,yes,yes,no,yes,yes,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,NaN,non-minority,yes
2,2017,"10,000 or more employees",United Kingdom,Full-Time,Male,Bachelors,NaN,NaN,Other,NaN,White or of European descent,MySQL,Java; PHP; Python,NaN,20 or more years,113750.000000,20.0,5.00,NaN,yes,no,yes,no,no,yes,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
3,2017,"10,000 or more employees",United States,Full-Time,Male,Doctorate,NaN,NaN,NaN,NaN,White or of European descent,MongoDB; Redis; SQL Server; MySQL; SQLite,Matlab; Python; R; SQL,Windows Desktop; Linux Desktop; Mac OS; Amazon...,14 to 15 years,NaN,14.5,5.00,NaN,yes,yes,no,no,no,no,no,no,no,yes,no,no,yes,no,yes,no,no,no,yes,yes,no,no,no,no,no,yes,yes,NaN,non-minority,yes
4,2017,10 to 19 employees,Switzerland,Full-Time,NaN,Masters,NaN,NaN,Mobile developer; Graphics programming; Deskto...,NaN,NaN,NaN,NaN,NaN,20 or more years,NaN,20.0,14.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
5,2017,NaN,New Zealand,"Not employed, and not looking for work",NaN,Secondary,NaN,NaN,NaN,NaN,White or of European descent,MySQL,JavaScript; PHP; Rust,Linux Desktop; Amazon Web Services (AWS),6 to 7 years,NaN,6.5,NaN,NaN,no,no,no,yes,no,yes,no,no,no,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,NaN,non-minority,yes
6,2017,20 to 99 employees,United States,Full-Time,Male,Masters,NaN,NaN,NaN,NaN,White or of European descent,SQLite,Matlab; Python,Windows Desktop,9 to 10 years,NaN,9.5,59.50,NaN,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,yes,NaN,non-minority,no
7,2017,Fewer than 10 employees,Poland,Full-Time,Male,Masters,NaN,NaN,Web developer,NaN,White or of European descent,Redis; MySQL; PostgreSQL,CoffeeScript; Clojure; Elixir; Erlang; Haskell...,Amazon Web Services (AWS),10 to 11 years,NaN,10.5,10.00,NaN,yes,no,no,yes,yes,no,no,no,no,no,no,no,yes,no,no,yes,no,no,yes,no,no,no,no,no,no,no,no,NaN,non-minority,yes
8,2017,"5,000 to 9,999 employees",Colombia,Full-Time,Male,Bachelors,NaN,NaN,Web developer; Mobile developer,NaN,Hispanic or Latino/Latina,SQL Server,C#; JavaScript,Android; Microsoft Azure,13 to 14 years,NaN,13.5,253.25,NaN,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,NaN,minority,no
9,2017,NaN,France,Self-Employed,Male,Masters,NaN,NaN,Mobile developer; Desktop applications developer,NaN,White or of European descent,PostgreSQL,Objective-C; Swift,iOS; Amazon Web Services (AWS),13 to 14 years,NaN,13.5,NaN,NaN,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,yes
10,2017,100 to 499 employees,United States,Full-Time,Female,Bachelors,NaN,NaN,NaN,NaN,White or of European descent,SQL Server,R; SQL,NaN,12 to 13 years,NaN,12.5,299.50,NaN,no,yes,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
11,2017,100 to 499 employees,Canada,Full-Time,NaN,Bachelors,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,13 to 14 years,NaN,13.5,299.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
12,2017,NaN,United Kingdom,"Not employed, but looking for work",Male,Bachelors,NaN,NaN,NaN,NaN,White or of European descent,NaN,C; C++; Java,NaN,20 or more years,NaN,20.0,NaN,NaN,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
13,2017,Fewer than 10 employees,Germany,Full-Time,Female,Bachelors,NaN,NaN,Web developer,NaN,Hispanic or Latino/Latina,Redis; MySQL; PostgreSQL,Java; JavaScript; Ruby; SQL,Amazon Web Services (AWS),15 to 16 years,NaN,15.5,10.00,NaN,no,yes,yes,yes,yes,no,no,no,no,no,no,no,yes,no,no,yes,no,no,yes,no,no,no,no,no,no,no,no,NaN,minority,yes
14,2017,"5,000 to 9,999 employees",United Kingdom,Full-Time,Male,Professional,NaN,NaN,Embedded applications/devices developer,NaN,White or of European descent,NaN,Assembly; C; C++,Mac OS,20 or more years,100000.000000,20.0,253.25,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
15,2017,NaN,United States,Self-Employed,Male,Primary,NaN,NaN,Desktop applications developer,NaN,White or of European descent,NaN,JavaScript; VB.NET,Windows Desktop,11 to 12 years,NaN,11.5,NaN,NaN,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,NaN,non-minority,no
16,2017,NaN,United Kingdom,"Not employed, and not looking for work",Male,Secondary,NaN,NaN,Web developer,NaN,White or of European descent,NaN,JavaScript,Amazon Web Services (AWS),8 to 9 years,NaN,8.5,NaN,NaN,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,yes
17,2017,"1,000 to 4,999 employees",United States,Full-Time,Male,Bachelors,NaN,NaN,Web developer; Embedded applications/devices d...,NaN,"Native American, Pacific Islander, or Indigeno...",MySQL; PostgreSQL; Oracle,C; Clojure; JavaScript; Matlab; Rust; SQL; Swift,Linux Desktop; Amazon Web Services (AWS),20 or more years,130000.000000,20.0,251.00,NaN,no,yes,no,yes,no,no,no,yes,no,no,yes,no,yes,no,no,yes,yes,no,no,no,no,no,no,no,no,yes,no,NaN,non-minority,yes
18,2017,"10,000 or more employees",United States,Full-Time,NaN,Bachelors,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,2 to 3 years,82500.000000,2.5,5.00,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
19,2017,Fewer than 10 employees,Greece,Full-Time,Male,Doctorate,NaN,NaN,Data scientist; Other,NaN,I prefer not to say,MySQL,Perl; Python,NaN,12 to 13 years,NaN,12.5,10.00,NaN,yes,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
20,2017,"10,000 or more employees",Brazil,Full-Time,NaN,Bachelors,NaN,NaN,Web developer,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,5.00,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
21,2017,20 to 99 employees,United Kingdom,Full-Time,Male,Bachelors,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,White or of European descent,SQL Server,C#; JavaScript; SQL,Windows Phone; Windows Desktop; Raspberry Pi; ...,20 or more years,NaN,20.0,59.50,NaN,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,yes,NaN,non-minority,no
22,2017,500 to 999 employees,Israel,Full-Time,Male,Bachelors,NaN,NaN,Other,NaN,White or of European descent,Cassandra; MySQL,Java,NaN,10 to 11 years,100764.000000,10.5,749.50,NaN,no,no,yes,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
23,2017,NaN,Italy,Self-Employed,Male,Secondary,NaN,NaN,Web developer,NaN,White or of European descent,MySQL,PHP; SQL,Windows Desktop; WordPress,9 to 10 years,NaN,9.5,NaN,NaN,no,yes,no,no,no,yes,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,NaN,non-minority,no
24,2017,20 to 99 employees,Belgium,Full-Time,NaN,Masters,NaN,NaN,Web developer; Other,NaN,NaN,NaN,NaN,NaN,18 to 19 years,NaN,18.5,59.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
25,2017,"10,000 or more employees",United States,Full-Time,Male,Masters,NaN,NaN,Web developer,NaN,White or of European descent,MySQL,Java; Scala,NaN,20 or more years,175000.000000,20.0,5.00,NaN,no,no,yes,no,no,no,no,no,yes,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
26,2017,"5,000 to 9,999 employees",India,Full-Time,NaN,Bachelors,NaN,NaN,Web developer; Mobile developer,NaN,NaN,MongoDB; MySQL,Java; JavaScript; Objective-C; Python; Swift,NaN,13 to 14 years,NaN,13.5,253.25,NaN,yes,no,yes,yes,no,no,no,yes,no,no,no,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
27,2017,100 to 499 employees,United States,Full-Time,NaN,Bachelors,NaN,NaN,Web developer; Desktop applications developer,NaN,NaN,NaN,NaN,NaN,2 to 3 years,NaN,2.5,299.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
28,2017,10 to 19 employees,Israel,Full-Time,Male,Bachelors,NaN,NaN,NaN,NaN,White or of European descent,NaN,JavaScript; Python,Mac OS; Arduino; Serverless; Amazon Web Servic...,20 or more years,NaN,20.0,14.50,NaN,yes,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,yes
29,2017,"10,000 or more employees",United States,Full-Time,NaN,Bachelors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,5.00,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
30,2017,20 to 99 employees,Israel,Full-Time,NaN,Bachelors,NaN,NaN,Web developer; Desktop applications developer,NaN,NaN,NaN,NaN,NaN,5 to 6 years,NaN,5.5,59.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
31,2017,Fewer than 10 employees,Chile,Full-Time,NaN,Bachelors,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,NaN,NaN,NaN,NaN,6 to 7 years,NaN,6.5,10.00,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no
32,2017,NaN,Germany,Self-Employed,Male,Professional,NaN,NaN,NaN,NaN,White or of European descent,NaN,C#; Java,Windows Desktop; Linux Desktop,6 to 7 years,NaN,6.5,NaN,NaN,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,yes,NaN,non-minority,no
33,2017,NaN,Brazil,Self-Employed,Male,Bachelors,NaN,NaN,Web developer,NaN,White or of European descent,MongoDB,JavaScript,NaN,7 to 8 years,NaN,7.5,NaN,NaN,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
34,2017,10 to 19 employees,Croatia,Full-Time,Male,Bachelors,NaN,NaN,Embedded applications/devices developer,NaN,White or of European descent,MySQL,Assembly; C,NaN,7 to 8 years,14838.709677,7.5,14.50,NaN,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,non-minority,no
35,2017,Fewer than 10 employees,Italy,Full-Time,Male,Masters,NaN,NaN,Machine learning specialist; Developer with a ...,NaN,White or of European descent,Cassandra; MongoDB; Redis; SQL Server; PostgreSQL,C#; JavaScript; Matlab; Python; R,Raspberry Pi; SharePoint; WordPress; Amazon We...,9 to 10 years,NaN,9.5,10.00,NaN,yes,no,no,yes,no,no,no,no,no,yes,no,no,no,no,yes,yes,no,no,yes,no,no,yes,no,no,no,no,no,NaN,non-minority,yes
36,2017,500 to 999 employees,Argentina,Full-Time,Male,Bachelors,NaN,NaN,Web developer; Mobile developer; Desktop appli...,NaN,Hispanic or Latino/Latina,SQL Server,C#; F#; JavaScript; SQL,Windows Desktop; Microsoft Azure,20 or more years,28200.000000,20.0,749.50,NaN,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,yes,NaN,minority,no
37,2017,100 to 499 employees,Germany,Full-Time,Male,Bachelors,NaN,NaN,Web developer,NaN,White or of European descent,SQL Server; SQLite,C#; Java; JavaScript,Android,20 or more years,118279.569892,20.0,299.50,NaN,no,no,yes,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,NaN,non-minority,no
38,2017,NaN,Netherlands,Self-Employed,Male,Bachelors,NaN,NaN,Web developer; Database administrator,NaN,White or of European descent,SQL Server; SQLite,C#; JavaScript; SQL; TypeScript,Windows Desktop; Microsoft Azure,20 or more years,NaN,20.0,NaN,NaN,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,yes,no,no,no,no,yes,NaN,non-minority,no
39,2017,I don't know,United States,Full-Time,NaN,Bachelors,NaN,NaN,Desktop applications developer,NaN,NaN,NaN,NaN,NaN,20 or more years,NaN,20.0,NaN,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,NaN,NaN,no

In [8]:
# Calculate percentage used of each column by year
grouped_summary = wide_stack.groupby("Year").agg(lambda x: (x.notnull().mean() * 100)).reset_index()
# Display the grouped summary using pandas built-in display methods
from IPython.display import display
display(grouped_summary)

,Year,OrgSize,Country,Employment,Gender,EdLevel,US_State,Age,DevType,Sexuality,Ethnicity,DatabaseWorkedWith,LanguageWorkedWith,PlatformWorkedWith,YearsCodePro,AnnualSalary,YearsCodeProAvg,OrgSizeAvg,AgeAvg,python,sql,java,javascript,ruby,php,c,swift,scala,r,rust,julia,mysql,microsoftsqlserver,mongodb,postgresql,oracle,ibmdb2,redis,sqlite,mariadb,microsoftazure,googlecloud,ibmcloudorwatson,kubernetes,linux,windows,sexuality_grouped,ethnicity_grouped,aws
0,2017,75.735523,100.000000,100.000000,68.195439,100.000000,0.000000,0.000000,70.293042,0.000000,64.276541,57.308531,71.265956,56.650841,99.519380,25.083671,96.631771,72.719489,0.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,0.000000,61.692481,100.0
1,2018,72.359516,99.583228,96.425067,65.215720,95.799909,0.000000,65.321936,93.164736,60.457235,58.138688,67.037580,79.241313,66.763441,94.921855,48.254514,94.921855,72.359516,65.321936,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,60.457235,58.138688,100.0
2,2019,80.770226,99.851490,98.085123,96.088116,97.195189,0.000000,89.117154,91.507937,85.671051,86.257215,85.534917,98.521652,90.809266,83.627915,0.000000,83.627915,75.853650,89.117154,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,85.671051,86.257215,100.0
3,2020,68.776469,99.396534,99.058345,78.430369,89.094181,0.000000,70.501544,76.588945,68.245916,71.280309,76.848017,89.011961,83.528025,71.902391,0.000000,71.902391,65.379066,70.501544,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,68.245916,71.280309,100.0
4,2021,72.778916,100.000000,99.860976,98.618152,99.624876,17.881326,98.763168,79.679766,87.927708,95.236041,83.349513,98.703244,62.482772,73.366172,56.141612,73.366172,66.322703,98.074042,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,87.927708,89.152555,100.0
5,2022,69.660698,97.956816,97.872195,96.703882,97.683846,0.000000,96.830813,83.668177,90.851395,94.821750,82.056287,96.870394,68.138887,70.744390,51.961293,70.744390,64.505650,96.119725,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,90.851395,91.368674,100.0
6,2023,72.931243,98.642133,98.558037,0.000000,98.642133,0.000000,100.000000,86.194833,0.000000,0.000000,82.341003,97.708109,71.344636,74.156799,53.842618,74.156799,66.832616,99.496546,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,0.000000,100.000000,100.0