In [1]:
from lussi.stackoverflow import *
from lussi.ziprecruiter import *
%matplotlib inline

nogit_data_dir = "608data_nogit"

## to load, use these.
raw_stack  = load_stack(data_dir = nogit_data_dir, stack_type=StackType.RAW)
wide_stack = load_stack(data_dir = nogit_data_dir, stack_type=StackType.WIDE)

In [2]:
# Calculate percentage used of each column by year
grouped_summary = wide_stack.groupby("Year").agg(lambda x: (x.notnull().mean() * 100)).reset_index()
# Display the grouped summary using pandas built-in display methods
from IPython.display import display
display(grouped_summary)

,Year,OrgSize,Country,Employment,Gender,EdLevel,US_State,Age,DevType,Sexuality,...,mariadb,microsoftazure,googlecloud,ibmcloudorwatson,kubernetes,linux,windows,sexuality_grouped,ethnicity_grouped,aws
0,2017,75.735523,100.000000,100.000000,68.195439,100.000000,0.000000,0.000000,70.293042,0.000000,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,0.000000,61.692481,100.0
1,2018,72.359516,99.583228,96.425067,65.215720,95.799909,0.000000,65.321936,93.164736,60.457235,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,60.457235,58.138688,100.0
2,2019,80.770226,99.851490,98.085123,96.088116,97.195189,0.000000,89.117154,91.507937,85.671051,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,85.671051,86.257215,100.0
3,2020,68.776469,99.396534,99.058345,78.430369,89.094181,0.000000,70.501544,76.588945,68.245916,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,68.245916,71.280309,100.0
4,2021,72.778916,100.000000,99.860976,98.618152,99.624876,17.881326,98.763168,79.679766,87.927708,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,87.927708,89.152555,100.0
5,2022,69.660698,97.956816,97.872195,96.703882,97.683846,0.000000,96.830813,83.668177,90.851395,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,90.851395,91.368674,100.0
6,2023,72.931243,98.642133,98.558037,0.000000,98.642133,0.000000,100.000000,86.194833,0.000000,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,0.000000,100.000000,100.0